
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/_db/Natom.Gestion.DbConfig/Natom.Gestion.DbConfig.dbmdl
/_db/Natom.Gestion.DbConfig/Natom.Gestion.DbConfig.jfm
/_db/Natom.Gestion.DbLogs/Natom.Gestion.DbLogs.dbmdl
/_db/Natom.Gestion.DbLogs/Natom.Gestion.DbLogs.jfm
/_db/Natom.Gestion.DbMaster/Natom.Gestion.DbMaster.dbmdl
/_db/Natom.Gestion.DbMaster/Natom.Gestion.DbMaster.jfm
/_db/Natom.Gestion.DbSecurity/Natom.Gestion.DbSecurity.dbmdl
/_db/Natom.Gestion.DbSecurity/Natom.Gestion.DbSecurity.jfm
/_db/Natom.Gestion.Dbz000/Natom.Gestion.Dbz000.dbmdl
/_db/Natom.Gestion.Dbz000/Natom.Gestion.Dbz000.jfm
