<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h3>Horarios / Tolerancias</h3>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-success right" (click)="onNewClick()">[+] Nuevo</button>
    </div>
  </div>
  <hr class="divider" />
  <div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtIndex" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>Aplica desde</th>
            <th>Aplica hasta</th>
            <th>Configurado el</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horario of Horarios">
            <td *ngIf="horario.aplica_desde !== null">{{ horario.aplica_desde  |  date:'dd/MM/yyyy' }}</td>
            <td *ngIf="horario.aplica_hasta !== null">{{ horario.aplica_hasta  |  date:'dd/MM/yyyy' }}</td>
            <td *ngIf="horario.aplica_hasta === null"><b>-</b></td>
            <td>{{ horario.configuro_fecha_hora  |  date:'dd/MM/yyyy HH:mm' }} hs</td>
            <td>{{ horario.status }}</td>
            <td>
              <a class="btn btn-secondary btn-sm ver-smt-btn" (click)="onVerClick(horario.encrypted_id)" data-toggle="tooltip" data-placement="top" title="Ver en detalle"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;Ver</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>