<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h3>Administrar sincronizadores del cliente</h3>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-success right" (click)="onNewClick()">[+] Nuevo</button>
    </div>
  </div>
  <hr class="divider" />
  <div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtSyncs" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>Alias</th>
            <th>Instalación</th>
            <th>Ultima Sync</th>
            <th>Equipos</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sync of Syncs">
            <td>{{ sync.installation_alias }}</td>
            <td>{{ sync.installed_at   |  date:'dd/MM/yyyy' }}<br/><small>Activado {{ sync.activated_at   |  date:'dd/MM/yyyy HH:mm' }} hs</small></td>
            <td *ngIf="sync.last_sync_at !== null">{{ sync.last_sync_at   |  date:'dd/MM/yyyy HH:mm' }} hs</td>
            <td *ngIf="sync.last_sync_at === null">- Pendiente de sincronización -</td>
            <td><b>{{ sync.devices_count }}</b><br/><small *ngIf="sync.devices_count === 0">* Hasta no sincronizar puede variar</small></td>
            <td>{{ sync.activo ? "Habilitado" : "De baja" }}</td>
            <td>
              <a class="btn btn-secondary btn-sm devices-smt-btn spacingLeft" (click)="onDevicesClick(sync.encrypted_instance_id)" data-toggle="tooltip" data-placement="top" title="Ver dispositivos enlazados"><i class="fa fa-th" aria-hidden="true"></i>&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i></a>
              <a *ngIf="sync.activo" class="btn btn-danger btn-sm delete-smt-btn spacingLeft" (click)="onDeleteClick(sync.encrypted_instance_id)" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>