<div class="container-fluid" id="title-crud">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ crud.mode }} planta / oficina</h3>
    </div>
  </div>
  <hr class="divider" />
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="formGroupExampleInput">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          maxlength="50"
          [(ngModel)]="crud.model.name" />
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="formGroupExampleInput">Dirección</label>
        <input
          type="text"
          class="form-control"
          placeholder="Dirección"
          maxlength="100"
          [(ngModel)]="crud.model.address" />
      </div>
    </div>
  </div>
  
  <div class="row crud-footer">
    <div class="col-md-12">
      <button class="btn btn-danger btn-circular left" (click)="onCancelClick()" data-toggle="tooltip" data-placement="right" title="Cancelar"><i class="fa fa-times"></i></button>
      <button class="btn btn-success btn-circular right" (click)="onSaveClick()" data-toggle="tooltip" data-placement="left" title="Guardar"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
